body {
  padding: 0 1vh;
  margin: 0;
  font-family: sans-serif;
}

.heading {
  text-align: center;
  font-weight: 500;
  font-size: 4vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: rgb(2, 153, 2);
  padding: 1vh 0;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 86vh;
  border: 1px solid black;
  border-radius: 7px;
  word-wrap: break-word;
  word-break: break-all;
}

.todoAdder {
  display: flex;
  flex: 50%;
  justify-content: flex-start;
  align-items: center;
  font-size: 1vh;
  padding: 1vh;
}

#SearchBar {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
}

.todoAdder input[type='text'] {
  height: 2vh;
  width: 100%;
  align-self: center;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}

#createTaskBar {
  display: flex;
}

.display {
  display: flex;
  flex: 10%;
  border-bottom: 1px solid black;
}

#todoSearch,
#taskSearch {
  font-size: large;
  border: none;
  border-bottom: 1px solid gray;
  align-self: flex-end;
  margin: 1.8vh;
  padding: 0.6vh;
  width: 30%;
}

#title {
  font-size: large;
  margin: 0px 10px 0px 20px;
  width: 24vh;
  padding: 0.6vh;
}

.svg {
  height: 25px;
  cursor: pointer;
}

.todoList {
  flex: 100%;
  padding: 1vh;
  overflow-y: scroll;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(30, 30, 30, 0.4);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.todo-container {
  color: rgba(10, 10, 10, 0.87);
  border: 1px solid rgba(30, 30, 30, 0.4);
  background-color: white;
  margin: 10px 10px 0 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.todo-title {
  margin: 1px;
  padding-top: 7px;
}

.subTask {
  font-size: 1.5vh;
  height: 1.6vh;
  width: 50%;
  font-size: 1.6vh;
  padding: .6vh;
}

.subTaskAdder {
  display: flex;
  padding: 1vh;
}

#date {
  margin-left: 30%;
  color: gray;
}

.addButton {
  height: 3vh;
  cursor: pointer;
  margin: 0%;
  margin-left: 1vh;
}

.removeButton {
  height: 1.7vh;
  cursor: pointer;
  padding-top: 0.2vh;
  margin: 0%;
}

#addTodo {
  height: 3.5vh;
  cursor: pointer;
  padding-top: 0.3vh;
  margin: 0%;
}

#contact {
  height: 2vh;
  cursor: pointer;
  padding-right: 1vh;
  margin: 0%;
}

#logout {
  height: 4vh;
  cursor: pointer;
  padding: 2vh;
}

.editButton,
.deleteButton,
.saveButton,
.cancelButton {
  height: 3.5vh;
  cursor: pointer;
  margin: 0% 10% 0% 10%;
}

.task-item {
  display: flex;
  margin: 1%;
}

.task-item p {
  margin: 0%;
  padding: 0 1.5vh 0 1.5vh;
}

.taskStatus {
  display: flex;
}

.options {
  width: 10%;
}

.rename {
  width: 80%;
}

.selected {
  color: red;
}

.done {
  text-decoration: line-through;
  color: gray;
}
