<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp Page</title>
  <link rel="stylesheet" href="css/signUp.css">
</head>

<body>
  <div class="container">
    <h2>Create Account</h2>
    <form action="signup" method="POST">
      <label for="name" class="label">Enter Full Name:</label><br>
      <input type="text" name="name" id="name" class="inputBox" value='__fullName__' required><br><br>
      <label for="username" class="label">Enter username:</label><br>
      <input type="text" name="username" id="username" pattern="^[^ ].*" class="inputBox" value='__username__'
      required><br>
      <p id="usernameError"> __usernameError__ </p>
      <!-- <p>No spaces allowed</p> -->
      <label for="email" class="label">Enter Email:</label><br>
      <input type="email" name="email" id="email" class=" inputBox" value='__email__' required><br>
      <p id="emailError"> __emailError__ </p>
      <label for="password" class="label">Enter Password:</label><br>
      <input type="password" name="password" pattern="^[^ ]{6,15}$" id="password" class="inputBox" required><br>
      <p id="passwordError">6-15 characters, no spaces allowed</p>
      <button type="submit" id="submit"> Sign Up</button>
    </form>
    <p id="decision">Already have an account? <a href="login">Login</a></p>
  </div>
</body>

</html>